div:has(> form) {
  display: grid;
  place-content: center;
  grid-template-columns: minmax(auto, 36em);
}

form {
  display: grid;
  gap: 0.5em 2em;
  padding: 2em;
  border: 1px solid #ffffff1a;
  border-radius: 0.5em;
  background-color: #ffffff10;
}

form div.info {
  font-size: 0.8em;
}

input {
  background-color: var(--background-color);
  border: 1px solid var(--foreground-footer);
  border-radius: 0.5em;
  padding: 1em;
  font-family: var(--font-family-text);
  color: var(--foreground-text);
  outline: none;
}

input:focus {
  background-color: color-mix(in srgb, var(--background-color) 90%, white);
}

input[type="submit"] {
  margin: 0.5em 0;
  font-size: 1em;
  justify-self: right;
  cursor: pointer;
  padding: 0.5em;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: color-mix(in srgb, var(--background-color) 90%, white);
}

label {
  margin-top: 0.5em;
}

@media screen and (max-width: 1000px) {
  form {
    padding: 1em;
  }
}