#matrix {
  position: relative;
  display: grid;
  place-content: center;
  height: calc(100dvh - 6em);
  min-height: calc(100dvh - 6em);
}

#matrix img {
  max-width: 80dvw;
}

#matrix-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100dvh - 6em);
}

@media screen and (max-width: 630px) {
  #matrix {
    height: calc(100dvh - 10.5em);
    min-height: calc(100dvh - 10.5em);
  }

  #matrix-text {   
    height: calc(100dvh - 10.5em);
  }
}