<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title }) %>
  </head>

  <body>
    <%- include("partials/header.ejs") %>
    
    <section>
      <h1>Challenges</h1>
    </section>

    <%- include("partials/footer.ejs") %>
  </body>
</html>