<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title }) %>
    
    <link rel="stylesheet" href="/static/style/matrix.css">
    <script defer src="/static/script/matrix.js"></script>
  </head>

  <body>
    <%- include("partials/matrix.ejs") %>
    <%- include("partials/header.ejs") %>
    
    <section>
      <h1>Welcome, Sharkoders!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt exercitationem velit, nulla doloremque pariatur odio iste ratione dolorum provident. Accusantium odio rerum optio saepe. Unde hic voluptatem minus ut quaerat!</p>
      <p>Doloremque quam architecto, ex illo a beatae quasi molestias odit natus porro iste fugit sit corporis quod deserunt dolor blanditiis consectetur at ad aliquid vero eaque eligendi? Natus, suscipit explicabo.</p>
      <p>Nobis fuga incidunt quam pariatur dignissimos repudiandae nisi, quae labore! Officiis obcaecati iure saepe quod delectus cupiditate tempore eum fugiat. Cum odit corrupti cupiditate reprehenderit accusamus libero. Velit, sed aperiam.</p>
      <p>Sit optio delectus aspernatur vero omnis deserunt debitis voluptatibus autem, incidunt voluptates impedit quis quas iste eaque voluptatem dolorem. Soluta repellat laudantium corrupti? Quo, neque? Quas asperiores optio sunt possimus?</p>
      <p>Illum voluptates fuga animi magnam dolores modi optio quidem similique laborum sequi numquam recusandae architecto nisi dolorum dignissimos, cum voluptatum repellat qui doloribus! Ipsum amet facilis harum asperiores praesentium. Sit.</p>
      <p>Quisquam numquam atque quis quam error reprehenderit totam modi praesentium neque nihil minima nobis quibusdam nisi tenetur saepe voluptate pariatur, placeat doloribus delectus! Nulla, consectetur. Adipisci explicabo pariatur quam libero!</p>
      <p>Odit, consequatur sunt iste nesciunt ab consectetur! Omnis rem veritatis sapiente velit eos, libero, quam molestias non saepe corporis ut vero? Suscipit, reiciendis fuga nemo assumenda ea quis ut animi!</p>
      <p>Reprehenderit praesentium sunt suscipit non earum aliquid nisi corrupti odit minima, deleniti, at impedit dicta sequi vero numquam quibusdam facilis. Sapiente obcaecati dolores earum cum quia adipisci inventore! Vitae, sunt!</p>
      <p>Libero sapiente, dignissimos alias quae fugit illum distinctio vel officiis? Error explicabo accusamus ut, voluptas nobis incidunt officiis accusantium debitis iure ad dolores omnis blanditiis at aperiam magni, iste laudantium.</p>
    </section>

    <%- include("partials/footer.ejs") %>
  </body>
</html>