<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title }) %>
    <script src="/static/script/form.js" defer></script>
  </head>

  <body>
    <%- include("partials/header.ejs") %>
    
    <section>
      <h1>Connexion</h1>
      <div>
        <form action="/login" method="post">
          <label for="username">Email ou pseudo</label>
          <input type="text" name="username" id="username">
          <label for="password">Mot de passe</label>
          <input type="password" name="password" id="password">
          <input type="submit" value="Se connecter">
  
          <p>Aucun compte ? <a href="/register">Créez-en un !</a></p>
          <p>Mot de passe oublié ? <a href="/login/totp">Utilisez votre TOTP !</a></p>
        </form>
      </div>
    </section>

    <%- include("partials/footer.ejs") %>
  </body>
</html>