<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title }) %>
    <script src="/static/script/form.js" defer></script>
  </head>

  <body>
    <%- include("partials/header.ejs") %>
    
    <section>
      <h1>Connexion</h1>
      <div>
        <form action="/login/totp" method="post">
          <label for="username">Email ou pseudo</label>
          <input type="text" name="username" id="username">
          <label for="totp">TOTP</label>
          <input type="text" name="totp" id="totp">
          <input type="submit" value="Se connecter">
  
          <p>Aucun compte ? <a href="/register">Créez-en un !</a></p>
          <p><a href="/login">Retourner à la connexion par défaut.</a></p>
        </form>
      </div>
    </section>

    <%- include("partials/footer.ejs") %>
  </body>
</html>