<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= title %></title>

<link rel="icon" href="/static/image/icon.svg">
<link rel="stylesheet" href="../static/style/base.css">
<link rel="stylesheet" href="../static/style/header.css">
<link rel="stylesheet" href="../static/style/footer.css">
<link rel="stylesheet" href="../static/style/form.css">